In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
data=pd.read_csv('drug200.csv')
data

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [3]:
label=data['Drug']

In [4]:
data=data.drop('Drug',axis=1)

In [5]:
data.Cholesterol=data.Cholesterol.apply(['NORMAL','HIGH'].index)
data.BP=data.BP.apply(['LOW','NORMAL','HIGH'].index)
data.Sex=data.Sex.apply(['M','F'].index)

In [6]:
Label=label.apply(['DrugY'
,'drugX'
,'drugA'
,'drugB'
,'drugC'].index)

In [8]:
data

     Age  Sex  BP  Cholesterol  Na_to_K
0     23    1   2            1   25.355
1     47    0   0            1   13.093
2     47    0   0            1   10.114
3     28    1   1            1    7.798
4     61    1   0            1   18.043
..   ...  ...  ..          ...      ...
195   56    1   0            1   11.567
196   16    0   0            1   12.006
197   52    0   1            1    9.894
198   23    0   1            0   14.020
199   40    1   0            0   11.349

[200 rows x 5 columns]

In [9]:
x_train,x_test,y_train,y_test=train_test_split(data,label,test_size=0.2,random_state=42)

In [10]:
clf=DecisionTreeClassifier()

In [11]:
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [12]:
acc=clf.score(x_test,y_test)
print('accuracy is : ',acc*100,'%')

accuracy is :  100.0 %